.venv/
venv/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
__pycache__/
*.pyc
*.pyo
*.so
*.o
*.a
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.cache/
*.user
.idea/
.vscode/
src/tslab/_core*.so
samples/*.ts
